html{
    font-size: 20px;
    font-family: "lato",sans-serif;
}

body {
    background-color: #fdfdfd;
    text-align: center;
}

.button1 {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*convierte mayuscula*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    margin-top : 1rem;
}