html{
    font-size: 20px;
    font-family: "lato",sans-serif;
}

body {
    background-color: #fffa7a;
    text-align: center;
}

#firstSection {
    max-width: 600px;
    height:950px;
    background-color: rgb(255, 255, 255);
    margin-left: 32%;
    text-align: center;
    display:block;

}

#secondSection{
  max-width: 600px;
  height:950px;
  background-color: rgb(255, 255, 255);
  margin-left: 32%;
  text-align: center;
  display:none;

}

#btn {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-transform: uppercase; /*convierte mayuscula*/
  font-family: 'Helvetica'; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  margin-top : 1rem;
}

#btn1 {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-transform: uppercase; /*convierte mayuscula*/
  font-family: 'Helvetica'; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
  margin-top : 1rem;
}

#footer {
  font-family: 'Helvetica';
  text-align: center; 
  margin-top : 1rem;
  font-size: 10px;
}